@charset "utf-8";

body, h1, h2, h3, p, ul, li, ol, dl, dd, dt img {
	
			margin : 0;
			padding : 0;
	
	}
	
body {

	color : #4c4c4c;
	font-family : 'メイリオ', 'Meiryo', sans-serif;
	background-color : #F8F8F8;

}

img {

	max-width : 100%;

}


a {

	text-decoration : none;

}

ul {

	list-style : none;

}

.sec-title {

	text-align : center;
	font-weight : 540;

}

.text {

	text-align : center;
	margin-top : 10px;
	margin-bottom : 50px;
	letter-spacing : 0.1em;
	font-size : 0.9rem;

}

.wrapper {

	max-width : 1100px;
	margin : 0 auto;

}

.fadein {

 opacity : 0;
 transform : translateY(20px);
 transition : all 1s;

}

#header {
	
	display : flex;
	background-color : #fff;
	height : 50px;

}

#header .logo {

	margin-right : 50px;
	padding : 5px;
	width : 10%;

}

.logo a {
	
		display : block;
	
	}
	
.title {
	
		margin-bottom : 30px;
		border-bottom : solid 1.5px #cd5c5c;
		padding-bottom : 10px;
		font-size : 1.3rem;
	
	}
	
#mainvisual {

	margin-bottom : 120px;

}

#mainvisual img {

	object-fit : cover;
	width : 100%;
	height : calc(100vh - 50px);

}

#about {

	margin-bottom : 120px;

}

#about .item {

	width : 80%;


}

#about .flex-item {

	display : flex;
	align-items : center;
	margin : 80px 0;
	
}

#about .right {

	flex-direction : row-reverse;
	display : flex;
	align-items : center;
	margin-bottom : 80px;

}

#about .right-caption {

		margin : 0 80px;
		width : 50%;

}

#about .caption {

	width :50%;
	text-align : left;
	margin :0 80px;

	}
	
#about .caption p {

	font-size : 1.0rem;

}
	
#plan {

	margin-bottom : 120px;

}
	
#plan .plan-name {

		border-bottom : solid 1.5px #f08080;
		margin-bottom : 20px;
		font-size : 1.6rem;
		font-weight : bold;

}

#plan .plan-name-blue {

		border-bottom : solid 1.5px #67A7CC;
		font-size : 1.6rem;
		font-weight : bold;
		margin-bottom : 20px;

}

#plan .plan-name-green {

		border-bottom : solid 1.5px #84C98B;
		margin-bottom : 20px;
		font-size : 1.6rem;
		font-weight : bold;
		margin-bottom : 20px;

}
	
#plan img {

	width : 300px;


}

#plan .flower {

	font-size : 13px;

}

#plan .price {

	font-size : 35px;

}

#plan .plan-list {

	display : flex;
	justify-content : space-between;
	align-items : center;
	text-align : center;

}

#plan .rich-plan {

	 border : solid 1.8px #67A7CC;
	 border-radius : 10%;
	 padding : 20px;
}

#plan .regular-plan {

	border : solid 1.8px #f08080;
	border-radius : 10%;
	padding : 20px;
	

}

#plan .light-plan {

	border : solid 1.8px #84C98B;
	border-radius : 10%;
	padding : 20px;

}

#plan .description {

	margin-bottom : 20px;
	font-weight : bold;

}

#plan a {

	border : solid 2px #f08080;
	border-radius : 20px;
	padding : 15px 60px;
	color : #E66B58;
	font-weight : bold;
	font-size : 1.2rem;

}

#plan .brue {

	border-color : #67A7CC;
	color : #67A7CC;

}

#plan .green {

	border-color : #84C98B;
	color : #84C98B;


}

#plan .button {

	margin : 20px 0;
	
}

#plan .pink:hover {

	background-color : #f08080;
	color : #fff !important;
	transition : all 0.1s ease-out;

}

#plan .brue:hover {

	background-color : #67A7CC;
	color : #fff !important;
	transition : all 0.1s ease-out;

}

#plan .green:hover {

	background-color : #84C98B;
	color : #fff !important;
	transition : all 0.1s ease-out;

}

#customer img {

	width : 100px;
	border-radius : 50%;

}

#customer {

	margin-bottom : 120px;

}

#customer .profile {

	display : flex;
	margin : 0 0 20px 0;
	align-items : center;

}

#customer .user {

	margin-left : 20px;

}

#customer .voice-list {

	display : flex;
	justify-content: space-between;
	padding : 0 5%

}

#customer .voice-list li {

	width : 20%;

}

#customer .voice-area p {

	font-size : 0.9rem;
	text-align : left;
	letter-spacing : 0.1em;
	line-height : 1.8;

}


#customer .voice-area {

	background-color : #f0f0f0;
	border-radius : 15px;
	width : 100%;
	padding: 25px;

}

#FAQ .acMenu {

	margin-bottom : 50px;
	text-align : left;

}

#FAQ .acMenu .question, .answer {

	color : #f08080;
	margin-right : 15px;
	font-size : 1.3rem;
	font-weight : bold;
}

#FAQ .acMenu .question-title {

	cursor : pointer;
	padding : 25px 15px;
	border-bottom : solid 1px #c0c0c0;	
	font-weight : bold;
	position : relative;

}

#FAQ .acMenu dd {

	margin-bottom : 10px;
	padding : 30px 20px;
	background-color : #f0f0f0;
	line-height : 1.6;
	display : none;

}

#FAQ .question-title::after {

	content : '';
	position : absolute;
	transition : all 0.2s ease-in-out;
	right : 10%;
	width : 15px;
	height : 15px;
	border-left : solid 3px #f08080;
	border-bottom : solid 3px #f08080;
	transform : rotate(-50deg);

}

#FAQ .question-title.open::after {

	transform : rotate(135deg);

}

#FAQ .readmore {

	display : block;
	text-align : center;
	border : solid 2px #f08080;
	border-radius : 40px;
	padding : 15px 0;
	width : 250px;
	margin : 0 auto;
	color : #f08080;
	margin-bottom : 120px;
	font-size : 1.2rem;

}

	
#footer {

	text-align : center;
	padding-bottom : 10px;

}

#footer .share {

	margin-bottom : 80px;
	font-size : 1.2rem;
	position : relative;

}

#footer .share::after {

	content : "";
	position : absolute; 
	top : 50px;
	left : 49%;
	width : 0;
	height : 0;
	border : 15px solid;
	border-color: #f08080 transparent transparent transparent;
	

}

#footer .sns {

	display : flex;
	justify-content : center;
	margin-bottom : 80px; 

}

#footer li {

	padding : 0 15px; 

}

#footer li img {

	width : 60px;

}

#footer li a:hover {

	opacity : 0.8;

}

#footer .copyright {

	font-size : 0.8rem;

}

@media screen and (max-width: 640px) {

	.logo a {

		width: 120px;
		margin: 8px;

	}

	#header {

		height: 60px;

	}
	
	#about .flex-item, .right{

		flex-direction: column !important;

	}

	#about .caption, .right-caption {

		width: 80% !important;

	}

	#about .caption, .right-caption {

		text-align: center;

	}

	#about .caption p, .right-caption p {

		text-align: left;

	}

	.item img {

		width: 100%;

	}

	#plan .plan-list {

		flex-direction: column;

	}

	
	#plan .rich-plan, .regular-plan, .light-plan  {

		width: 80%;

	}

	#plan .plan-list li {

		margin-bottom: 50px;

	}

	#customer .voice-list {

		flex-direction: column;

	}

	#customer .profile {

		display: block;
		margin: 0 20px;

	}

	#customer .voice-list li {

		display: flex;
		width: 100%;
		margin-bottom: 20px;

	}

	#FAQ {

		margin: 0 10px;

	}

}